<mat-toolbar class="mat-elevation-z8">

    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>

    SISTEMA DE HOTELERIA
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">


        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

        <h4 class="name">Nombre del Usuario</h4>
        <p class="designation">Cargo del Usuario</p>

        <mat-divider></mat-divider>

        <li class="nav-list-item">
            <i class="fa-solid fa-users-gear"></i>
            <span>
                <a routerLink="/admin/mantenimiento-prestamista">Prestamista</a>
            </span>
        </li>

        <li class="nav-list-item">
            <i class="fa-solid fa-users-gear"></i>
            <span>
                <a routerLink="/admin/mantenimiento-prestamista">Prestamista</a>
            </span>
        </li>

        <li class="nav-list-item">
            <i class="fa-solid fa-users-gear"></i>
            <span>
                <a routerLink="/admin/mantenimiento-prestamista">Prestamista</a>
            </span>
        </li>

        <li class="nav-list-item">
            <i class="fa-solid fa-users-gear"></i>
            <span>
                <a routerLink="/admin/mantenimiento-prestamista">Prestamista</a>
            </span>
        </li>

        <mat-divider></mat-divider>

    </mat-sidenav>

    <mat-sidenav-content>

        <div class="content mat-elevation-z8">
            Contenido del Main
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>