<section class="cards__container">
    <div class="card">
        <div class="card__header">
            <p class="card__title">Clientes</p>
            <button class="btn" routerLink="/system/consulta/cliente"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="card__body">
            <p class="card__text"><i class="fa-solid fa-user"></i><span class="card__data">{{numClientes}}</span> </p>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <p class="card__title">Reservaciones</p>
            <button class="btn" routerLink="/system/consulta/reservacion"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="card__body">
            <p class="card__text"><i class="fa-solid fa-hotel"></i><span class="card__data">{{numReservas}}</span> </p>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <p class="card__title">Habitaciones</p>
            <button class="btn" (click)="mantenimientoEnlace('/system/mantenimiento/habitacion')"><i class="fa-solid fa-gear"></i></button>
        </div>
        <div class="card__body">
            <p class="card__text"><i class="fa-solid fa-bed"></i><span class="card__data">{{numHabitaciones}}</span> </p>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <p class="card__title">Productos</p>
            <button class="btn" (click)="mantenimientoEnlace('/system/mantenimiento/producto')"><i class="fa-solid fa-gear"></i></button>
        </div>
        <div class="card__body">
            <p class="card__text"><i class="fa-solid fa-utensils"></i><span class="card__data">{{numProductos}}</span> </p>
        </div>
    </div>
</section>
<section class="servicios__container">
    <section class="servicio__item">
        <div class="servicio__header">
            <p class="servicio__title"><i class="fa-solid fa-chart-simple"></i> Estadistica de Reservas</p>
        </div>
        <div class="servicio__body">
            <div id="chart">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [legend]="chartOptions.legend"
                  [dataLabels]="chartOptions.dataLabels"
                  [colors]="chartOptions.colors"
                  [plotOptions]="chartOptions.plotOptions"
                ></apx-chart>
            </div>
        </div>
    </section>
    <section class="servicio__item">
        <div class="servicio__header">
            <p class="servicio__title">Hospedaje</p>
            <button type="button" class="btn btn-primary" (click)="serviciosEnlace('/system/servicio/reservacion')"><i class="fa-solid fa-hotel"></i></button>
        </div>
        <div class="servicio__body">
            <p>Somos la mejor opción como hospedaje, contamos con excelentes servicios para la comodidad del cliente. </p>
        </div>
    </section>
    <section class="servicio__item servicio__item--tienda">
        <div class="servicio__header">
            <p class="servicio__title">Tienda</p>
            <button type="button" class="btn btn-success" (click)="serviciosEnlace('/system/servicio/venta')"><i class="fa-solid fa-basket-shopping"></i></button>
        </div>
        <div class="servicio__body">
            <p>Contamos con productos para agregarle valor a la estancia, como comidas, cocteles, juguetes y más.</p>
        </div>
    </section>
</section>