.main-container{
    background-color: var(--almost-gray);
    position: relative;
    min-height: 100vh;
}
p{
    margin: 0px !important;
}


/* :::::::::: MAIN ::::::::::*/
.main{
    padding-left: 280px;
}
.padding{
    padding: 20px 50px !important;
}
/* :::::::::: NAV ::::::::::*/
.nav{
    justify-content: space-between;
}
.nav__title{
    font-size: 40px;
    font-weight: 500;
}

.nav__user{
    display: flex;
    align-items: center;
}

.user__img-container{
    margin-right: 1rem;
    width: 60px;
}
.user__img-container img{
    border-radius: 50%;
    max-width: 100%;
    display: block;
    box-shadow: 0px 3px 4px .5px var(--gray);
}


.user__title{
    font-weight: 500;
    font-size: 20px;
}