<div class="contenedor">
    <div class="contenedor__item">
        <form class="row" [formGroup]="formulario" errorTailor>
            <div class="form-group col-4">
                <label for="" class="form-label">Producto</label>
                <input type="text" class="form-control" name="nombre" formControlName="nombre">
            </div>
            <div class="form-group col-4">
                <label for="" class="form-label">Cant. por Unidad</label>
                <input type="text" class="form-control" name="cantUnidad" formControlName="cantUnidad">
            </div>
            <div class="form-group col-4">
                <label for="" class="form-label">Precio</label>
                <input type="text" class="form-control" name="precio" formControlName="precio">
            </div>
            <div class="form-group col-4">
                <label for="" class="form-label">Stock</label>
                <input type="text" class="form-control" name="stock" formControlName="stock">
            </div>


            <div class="form-group col-4">
                <label for="" class="form-label">Categoria</label>
                <select class="form-control" name="categoria" formControlName="categoria" id="categoria" [(ngModel)]="producto.categoria.id">
                    <option value=0 disabled selected>Seleccionar Categoria</option>
                    <option *ngFor="let cate of categorias" [value]="cate.id">{{cate.nombre}}</option>
                </select>
            </div>


            <div class="form-btn col-12">
                <button class="btn btn-primary" (click)="registrar()" [disabled]="formulario.invalid" *ngIf="!isUpdate"><i class="fa-solid fa-floppy-disk"></i> Registrar</button>
                <button class="btn btn-success" (click)="actualizar()" [disabled]="formulario.invalid" *ngIf="isUpdate"><i class="fa-solid fa-pen-to-square"></i> Actualizar</button>
            </div>
        </form>
    </div>
    <div class="contenedor__item">
        <table id="tablaProducto" class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Cant. por Unidad</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Categoria</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prod of productos | slice:desde:hasta">
                    <td>{{prod.id}}</td>
                    <td>{{prod.nombre}}</td>
                    <td>{{prod.cantUnidad}}</td>
                    <td>{{prod.precio}}</td>
                    <td>{{prod.stock}}</td>
                    <td>{{prod.categoria.nombre}}</td>
                    <td>
                        <button class="btn btn-success" (click)="llenarDatos(prod.id)"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger ml-3" (click)="eliminar(prod.id)"><i class="fa-solid fa-trash-can"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator 
            [length]="productos.length"
            [pageSize]="pageSize"
            (page)="cambiarPagina($event)"
            aria-label="Seleccionar Pagina">
        </mat-paginator>
    </div>
</div>