<aside class="sidebar">
    <div class="sidebar__logo">
        <img src="../../assets/img/logo.png" alt="Logo">
    </div>
    <ul class="sidebar__container">
        <ng-container *ngFor="let enlace of enlaces">
            <li class="sidebar__items" *ngIf="enlace.subenlaces.length==0" [ngClass]="{'sidebar__link--primary':enlace.descripcion==='Dashboard'}">
                <a routerLink="{{enlace.ruta}}" class="sidebar__link"> 
                    <img src="../../../assets/img/{{enlace.ico}}" class="sidebar__icon" alt="">
                    {{enlace.descripcion}}
                </a>
            </li>
        </ng-container>
        <ng-container *ngFor="let enlace of enlaces">
            <li class="sidebar__items" *ngIf="enlace.subenlaces.length!=0">
                <button class="sidebar__link sidebar__link--scroll" (click)="sidebar($event)">
                    <div class="sidebar__link-text">
                        <img src="../../../assets/img/{{enlace.ico}}" class="sidebar__icon" alt="">
                        {{enlace.descripcion}}
                    </div>
                    <i class="fa-solid fa-caret-down sidebar__arrow"></i>
                </button>
                <ul class="sidebar__submenu">
                    <li *ngFor="let subenlace of enlace.subenlaces">
                        <a routerLink="/system/mantenimiento/habitacion" class="sidebar__sublink">
                            <img src="../../../assets/img/{{subenlace.ico}}" class="sidebar__icon" alt="">
                            {{subenlace.descripcion}}
                        </a>
                    </li>
                </ul>
            </li>
        </ng-container>
    </ul>
    <div class="logout-container">
        <button type="button" class="btn-logout sidebar__link sidebar__link--logout" (click)="logout()"><i class="fa-solid fa-door-open sidebar__icon"></i> Logout</button>
    </div>
</aside>