<header class="header">
    <div class="hero__container contenedor">
        <h1 class="hero__title">Reserva con Nosotros</h1>
        <p class="hero__subtitle">Tu mejor aliado en hospedaje</p>
        <button type="button" class="btn btn-inicio mt-5" routerLink="/index"><i class="fa-solid fa-house mr-3"></i> Inicio</button>
    </div>
</header>
<main class="contenedor" >
    <div class="rol d-flex">
        <select class="form-control col-2 ml-3" [(ngModel)]="pisoSeleccionado" (change)="cambiarPiso()">
            <option value=0 disabled selected>Seleccionar Piso</option>
            <option *ngFor="let piso of pisos" [value]="piso">{{'Nivel ' + piso}}</option>
        </select>
    </div>
    <div class="contenedor__item">
        <h3 [ngClass]="{'text-info':habitaciones!=null}">{{habitaciones!=null && habitaciones.length>0 ? 'Habitaciones Disponibles':'No hay habitaciones disponibles' }}</h3>
        <div class="hab__contenedor mt-5" *ngIf="habitaciones!=null && habitaciones.length>0">
            <div *ngFor="let hab of habitaciones" class="card__habitacion" [ngClass]="'card__habitacion--'+hab.estado" (click)="llenar(hab.id)">
                <div class="card__header">
                    <h3 class="card__numero">{{hab.numero}}</h3>
                    <p class="card__estado">{{hab.estado}}</p>
                </div>
                <div class="card__body">
                    <div class="card__figure">
                        <img src="../../../assets/img/vacio.svg" alt="">
                    </div>
                    <div class="card__text">
                        <p class="card__item"><i class="fa-solid fa-cart-flatbed"></i> Tipo:  <span class="card__value">{{hab.tipo.nombre}}</span></p>
                        <p class="card__item"><i class="fa-solid fa-money-bill"></i> Costo: <span class="card__value">{{hab.tipo.costo}}</span></p>
                        <p class="card__item"><i class="fa-solid fa-layer-group"></i> Piso:  <span class="card__value">{{hab.piso}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor__item contenedor__item--form" *ngIf="habitacion!=null">
        <form class="form" [formGroup]="formulario" (ngSubmit)="registrarReserva()" errorTailor>
            <div class="form__reserva">
                <figure class="reserva__figure">
                    <input type="hidden" [value]="habitacion.id">
                    <img [src]="'../../../assets/img/'+habitacion.tipo.nombre+'.jpg'" alt="">
                    <p class="alert alert-info text-center reserva__tipo">{{habitacion.tipo.nombre}}</p>
                </figure>
                <div class="reserva__container">
                    <h3 class="form__subtitulo">Reservar Habitación</h3>
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="">Sede</label>
                            <select name="" id="" class="form-control" formControlName="sede" [controlErrorsTpl]="messageSedeError">
                                <option value = 0 disabled>Seleccionar Ubicación</option>
                                <option *ngFor="let sede of sedes" [value]="sede.id">{{sede.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="">Fecha de Ingreso</label>
                            <input type="date" class="form-control" formControlName="checkIn" [controlErrorsTpl]="messageCheckInError">
                        </div>
                        <div class="form-group col-4">
                            <label for="">Fecha de Salida</label>
                            <input type="date" class="form-control" formControlName="checkOut" (change)="importeReserva()" [controlErrorsTpl]="messageCheckOutError">
                        </div>
                        <div class="form-group col-4">
                            <label for="">Importe de Reserva</label>
                            <input type="text" class="form-control" [value]="'S/ ' + (impReserva | number:'1.2-2')" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__servicios">
                <h3 class="form__subtitulo">Datos del Cliente</h3>
                <div class="row">
                    <p class="col-3">Buscar por DNI: </p>
                    <div class="col-4 form__item position-relative">
                        <input type="text" class="form-control" formControlName="consulta">
                        <button type="button" class="btn-cliente" (click)="buscarCliente()"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="form-group col-4">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre" [readOnly]="this.existeCliente">
                    </div>
                    <div class="form-group col-4">
                        <label for="">Apellido</label>
                        <input type="text" class="form-control" formControlName="apellido" [readOnly]="this.existeCliente">
                    </div>
                    <div class="form-group col-4">
                        <label for="">Celular</label>
                        <input type="text" class="form-control" formControlName="celular" [controlErrorsTpl]="messageCelularError" [readOnly]="this.existeCliente">
                    </div>
                    <div class="form-group col-4">
                        <label for="">DNI</label>
                        <input type="text" class="form-control" formControlName="dni" [controlErrorsTpl]="messageDniError" [readOnly]="this.existeCliente">
                    </div>
                    <div class="form-group col-4 d-flex align-items-end">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalUbigeo" [disabled]="this.existeCliente">Seleccionar Ubigeo</button>
                    </div>
                </div>
            </div>
            <div class="form__servicios">
                <h3 class="form__subtitulo">Servicios Adicionales</h3>
                <div class="servicios__items row">
                    <div class="form-group col-4" *ngFor="let servicio of servicios">
                        <input type="checkbox" [value]="servicio.id" [id]="'servicio'+servicio.id" (change)="agregarServicio(servicio)"> 
                        <label [for]="'servicio'+servicio.id" class="ml-3">{{servicio.nombre}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="">Importe de Servicios</label>
                        <input type="text" class="form-control" [value]="'S/ ' + (impServicio | number:'1.2-2')" readonly>
                    </div>
                    <div class="form-group col-4">
                        <label for="">Importe Total</label>
                        <input type="text" class="form-control" [value]="'S/ ' + (impTotal | number:'1.2-2')" readonly>
                    </div>
                    <div class="form-group form-group-buttons col-4">
                        <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">
                            <i class="fa-solid fa-floppy-disk"></i> Reservar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<!-- MENSAJES DE ERRORES -->
<ng-template let-error let-text="text" #messageSedeError>
    <div class="form__message" *ngIf="formulario.get('sede').invalid">
        <p class="control-error" *ngIf="error.required">Debes seleccionar una ubicación</p>
    </div>
</ng-template>

<ng-template let-error let-text="text" #messageCheckInError>
    <div class="form__message" *ngIf="formulario.get('checkIn').invalid">
        <p class="control-error" *ngIf="error.required">Ingresar fecha de ingreso</p>
        <p class="control-error" *ngIf="error.dateInvalid">Ingresar una fecha valida</p>
    </div>
</ng-template>

<ng-template let-error let-text="text" #messageCheckOutError>
    <div class="form__message" *ngIf="formulario.get('checkOut').invalid">
        <p class="control-error" *ngIf="error.required">Ingresar fecha de salida</p>
        <p class="control-error" *ngIf="error.dateInvalid">Ingresar una fecha valida</p>
    </div>
</ng-template>

<ng-template let-error let-text="text" #messageCelularError>
    <div class="form__message" *ngIf="formulario.get('celular').invalid">
        <p *ngIf="error.required">Campo Obligatorio</p>
        <p *ngIf="error.pattern">Ingresar de 7 a 9 dígitos</p>
    </div>
</ng-template>

<ng-template let-error let-text="text" #messageDniError>
    <div class="form__message" *ngIf="formulario.get('dni').invalid">
        <p *ngIf="error.required">Campo Obligatorio</p>
        <p *ngIf="error.pattern">Ingresar 8 dígitos</p>
    </div>
</ng-template>

<!-- MODAL DE UBIGEO -->
<div class="modal fade" id="modalUbigeo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Seleccionar Ubicación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form--ubigeo">
                    <div class="form__item--ubigeo">
                        <select class="form__select--ubigeo" (change)="listarProvincias()" name="departamento" [(ngModel)]="departamento">
                            <option value="" disabled selected>Departamento</option>
                            <option *ngFor="let d of departamentos">{{d}}</option>
                        </select>
                    </div>
                    <div class="form__item--ubigeo">
                        <select class="form__select--ubigeo" (change)="listarDistritos()" name="provincia" [(ngModel)]="provincia">
                            <option value="" disabled selected>Provincia</option>
                            <option *ngFor="let p of provincias">{{p}}</option>
                        </select>
                    </div>
                    <div class="form__item--ubigeo">
                        <select class="form__select--ubigeo" name="distrito" [(ngModel)]="ubigeo.id">
                            <option value="" disabled selected>Distrito</option>
                            <option *ngFor="let di of distritos" [value]="di.id">{{di.distrito}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>