:root{
    --black:#000000;
    --white:#ffffff;
    --gray:#BDBDBD;
    --blue-color:#1F78AA;
    --yellow-color:#F8EDB7;
    --sky-blue:#CAECFF;
    --almost-blue:#a0c8df;
    --almost-sky-blue:#E0F4FF;
    --almost-black:#515151;
    --almost-gray:#EFEFEF;
    --almost-white: #F4F4F4;
    --almost-yellow:#FFFCF2;
    --valid-red:#dc3545;
    --valid-green:rgb(18, 102, 18);
}

/*Estilos de Validación*/
input.ng-touched.ng-invalid{
    border: 2px var(--valid-red) solid;
    border-radius: 10px;
}
.form__icon--valid{
    position: absolute;
    top: 1rem;
    right: 10px;
    font-size: 20px;
}

/* Mensaje de validación*/
.form__message{
    margin-top: 10px;
    color: var(--valid-red);
    padding-left: 10px;
}
.control-error {
    width: 100%;
    margin-top: 0.25rem;
    color: #dc3545;
    padding-left: 10px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contenedor__item{
    margin-top: 2rem;
    background-color: var(--white);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0px 0px 6px 0px var(--gray);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
