:root{
    --black:#000000;
    --white:#ffffff;
    --gray:#BDBDBD;
    --blue-color:#1F78AA;
    --yellow-color:#F8EDB7;
    --sky-blue:#CAECFF;
    --almost-blue:#a0c8df;
    --almost-sky-blue:#E0F4FF;
    --almost-black:#515151;
    --almost-gray:#EFEFEF;
    --almost-white: #F4F4F4;
    --almost-yellow:#FFFCF2;
    --valid-red:#dc3545;
    --valid-green:rgb(18, 102, 18);
}
.control-error {
    width: 100%;
    margin-top: 0.25rem;
    color: #dc3545;
    padding-left: 10px;
}